<div class="container">
    <div class="header">
        <div class="row">
            <div class="col-md-6 content">
                <h1> ابدأ رحلتك التعليمية بالطريقة التي تناسبك</h1>
                <p>
                    منصتنا توفر لك دروسًا تفاعلية وشاملة من نخبة المعلمين، مصممة لترتقي بمستواك الدراسي وتُحقق لك أفضل النتائج.
                </p>
                 <a class="btn btn-primary btn-lg" style="width:150px;" href="#">ابدأ الآن</a>
            </div>
            <div class="col-6 text-center">
                <img src="assets/imgs/Model2.png" alt="header" class="img-fluid" style="max-height: 400px;">
            </div>
        </div>
    </div>

    <!-- Features -->
    <div class="features">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="card-item d-flex flex-column align-items-center text-center py-30 px-5 w-100">
                    <div class="icon-box teacher">
                        <img src="assets/imgs/Model2.png" alt="Model2" class="img-fluid">
                    </div>
                    <h4 class="feature-title">أفضل المعلمين</h4>
                    <p class="feature-desc">ابدأ التعلم مع المعلمين الرائدين في تخصصهم</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card-item d-flex flex-column align-items-center text-center py-30 px-5 w-100">
                    <div class="icon-box student">
                        <img src="assets/imgs/Model2.png" alt="Model2" class="img-fluid">
                    </div>
                    <h4 class="feature-title">طلاب سعداء</h4>
                    <p class="feature-desc">نظم حياتك الدراسية وشارك في التطور التعليمي</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card-item d-flex flex-column align-items-center text-center py-30 px-5 w-100">
                    <div class="icon-box live">
                        <img src="assets/imgs/Model2.png" alt="Model2" class="img-fluid">
                    </div>
                    <h4 class="feature-title">حصص مباشرة</h4>
                    <p class="feature-desc">طور مهاراتك عن طريق افضل طرق التعليم</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card-item d-flex flex-column align-items-center text-center py-30 px-5 w-100">
                    <div class="icon-box video">
                        <img src="assets/imgs/Model2.png" alt="Model2" class="img-fluid">
                    </div>
                    <h4 class="feature-title">كورسات مسجلة</h4>
                    <p class="feature-desc">تعلم بدون عوائق الوقت والمكان</p>
                </div>
            </div>
        </div>
    </div>
 <section class="home-section">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <div>
      <h2 class="section-title">أحدث الكورسات</h2>
      <p class="section-hint">الكورسات لكل تخصص</p>
    </div>
    <a href="#" class="btn section-btn">عرض الكل</a>
  </div>

  <app-card-carousel [cards]="cards"></app-card-carousel>
</section>