<div class="card" [ngClass]="cardClass">
  <div class="card-header d-flex align-items-center justify-content-between" [ngClass]="headerClass" *ngIf="showHeader">
    <div>
      <h5>{{ cardTitle }}</h5>
      <ng-container *ngTemplateOutlet="headerTitleTemplate"></ng-container>
    </div>
    <ng-container *ngTemplateOutlet="headerOptionsTemplate"></ng-container>
  </div>
  
  <div class="card-body" [ngClass]="blockClass" [style.padding.px]="padding" *ngIf="showContent">
    <ng-content></ng-content>
  </div>
</div>